<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Food settings</title>
  </head>
  <body>
    {% extends 'base.html' %}
    {% block content %}
      {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="{{ category }}">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </div>
      {% endfor %}
      <div class="card mx-auto" style="width: 40rem;">
        <div class="card-body p-5">
          <h2 class="mb-5">Edit this food</h2>
          <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control", placeholder="Name") }}
            <br>
            {{ form.date.label(class="form-label") }}
            {{ form.date(class="form-control") }}
            <br>
            <div class="d-grid">
              {{ form.submit(class="btn btn-primary") }}
            </div>
          </form>
        </div>
      </div>
    {% endblock %}
  </body>
</html>