<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", type ="text/css", href="../static/landing_page.css">
    <!--Fonts from google APi-->
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <title>Register</title>
</head>
<body class="recipes vignetteAnimation">
    {% extends 'base.html' %}
    {% set active = 'recipe' %}
    {% block content %}
      {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="{{ category }}">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </div>
      {% endfor %}
      <!-- enter html stuff here
       -->
      <a href="https://www.wholesomeyum.com/category/healthy-recipes/", style="text-decoration: none; color: aqua;">
        <span class="recipe-title text-center opacityAnimation">Recipies and Tips</span>
      </a>
    {% endblock %}
</body>
</html>